ENERGY_HOST = localhost
ENERGY_PORT = 5432
ENERGY_DB = energy_db
ENERGY_USER = energy_super
ENERGY_PASSWORD =

DJANGO_HOST = localhost
DJANGO_PORT = 5433
DJANGO_DB = django_db
DJANGO_USER = django_super
DJANGO_PASSWORD =

DAGSTER_HOME =
